:root {
    --cls-1: #c3ceda;
    --cls-2: #738fa7;
    --cls-3: #0c4160;
    --cls-4: #071330;

    --accent: #44A08DFF;
    --accent-dark: #093637FF;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('/fonts/jetbrainsmono-regular.woff2') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('/fonts/jetbrainsmono-bold.woff2') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'JetBrains Mono', sans-serif;
    margin: 0;
    padding: 0;
    text-align: left;
    background: var(--accent);
    background: radial-gradient(circle, var(--accent) 0%, var(--accent-dark) 79%);
    background-size: 100vw 100vh;
    word-wrap: break-word;
    overflow-wrap: break-word;
    color: var(--cls-4);
    font-size: 18px;
    line-height: 1.7;
    height: 100dvh;
    height: 100vh;
}

main {
    margin: 0 min(4vw, 5rem) 0 min(4vw, 5rem);
    padding: min(.1vh, .1rem) 0 min(.1vh, .1rem) 0;
}

.background {
    background: white;
}

.background-dark {
    background: var(--cls-4);
}

.background-accent {
    background: var(--accent);
}

.background-accent-dark {
    background: var(--accent-dark);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 0.5rem 0;
    line-height: 1.2;
}

h1 {
    font-size: 3.052em;
}

h2 {
    font-size: 2.441em;
}

h3 {
    font-size: 1.953em;
}

h4 {
    font-size: 1.563em;
}

h5 {
    font-size: 1.25em;
}

strong, b {
    font-weight: 700;
}

.accent {
    color: var(--accent);
}

a {
    cursor: pointer;
    text-decoration: underline;
    color: var(--cls-4);
}

a:focus,
a:hover {
    color: var(--accent);
}

p {
    margin-bottom: 1em;
}

.company-name {
    background: linear-gradient(48deg, #F85102, #F9C511);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-decoration: none;
}

.beyond-the-black {
    --main-red: #d10f10;
    --main-black: #1c0300;
    font-family: Beyond, sans-serif;
    margin-top: 0;
    background-color: var(--main-red);
    background-image: linear-gradient(to bottom, var(--main-black), var(--main-red) 55%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

@tailwind base;
@layer base {
    .button {
        @apply background-accent text-white rounded-xl p-1.5 whitespace-nowrap text-clamp;
    }

    .button:focus,
    .button:hover {
        @apply background-accent-dark;
    }

    .disabled {
        @apply brightness-75 cursor-not-allowed;
    }

    code, pre {
        @apply background-dark p-1 rounded text-white;
    }
}
