---
const {href, name, newTab, disabled, class: className, ...props} = Astro.props;
const {pathname} = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, '');
---

<span class={disabled ? 'cursor-not-allowed' : ''}>
    <a href={href}
       target={newTab ? '_blank' : '_self'}
       title={name}
       class={`${isActive ? 'accent font-bold underline' : 'inline-block no-underline'} ${disabled ? 'disabled pointer-events-none' : '' }`}
       {...props}>
        <i class:list={[className]}></i>
        <p class="text-xs small:hidden large:block">{name}</p>
    </a>
</span>
