---
import BaseHead from '../components/misc/BaseHead.astro';
import Navbar from '../components/navbar/Navbar.astro';
const {title, description, image} = Astro.props;
const currentYear = new Date().getFullYear();
---

<!DOCTYPE html>
<html lang="en">
<head>
    <BaseHead title={title} description={description}/>
</head>
<body>
<main class="flex flex-col large:justify-center items-center mt-5 mb-5">
    <div class="flex large:flex-row small:flex-col">
        <div class="max-h-196">
            <Navbar/>
        </div>

        <div class="small:mt-5 large:mt-0 large:ml-5 flex flex-col background shadow-lg shadow-black rounded-lg h-full small:w-full large:w-196 p-5 text-clamp">
            <h1 class="text-center text-3xl">{title}</h1>
            <div>
                <slot name="content"/>
            </div>
            <span class="text-xs text-center mt-3">© geri.dev - {currentYear}</span>
        </div>
    </div>
</main>
</body>
</html>
